@{ 
    Layout = "/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Error";
}

<h2>Oh dear, something went wrong.</h2>
<h4>Why don't you <a href="/Contact/Index" title="Contact Me">contact me</a> instead?</h4>
